body {
  background-color: #0B0C10;
  color: #E5E7EB;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  color: #C5A46D;
}

p {
  color: #9CA3AF;
}

.project-card {
  background: #020617;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.project-card:hover {
  box-shadow: 0 0 30px rgba(56,189,248,0.5);
}

.tech-stack span {
  background: #38bdf8;
  color: black;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}