@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #0f172a, #1e1b4b, #000000, #111827);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}